@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

#about1{
    background-image: linear-gradient(to bottom right,#ffffff, #7f7be7);
    border-radius: 20px;
    font-family: 'Shadows Into Light', cursive;
    width:700px;
    height: 100%;
}

header {
    text-align: center;
    font-size: 60pt;
    font-family: 'Kiwi Maru', serif;
    color: #101889;
    background-image: linear-gradient(to bottom right,#ffffff, #7f7be7);
    height: 100px;
    opacity: 85%;
    border: black;
    border-width: 5px;
    border-radius: 500px;
    border-style: solid;
}

nav {
    float: center;
    background-image: linear-gradient(to bottom right,#ffffff, #7f7be7);
    font: black;
    font-family: 'Kiwi Maru', serif;
    opacity: 85%;
    text-align: center;
    font-style: oblique;
    font-size: 30pt;
    border: black;
    border-width: 5px;
    border-radius: 50px;
    position: sticky;
    top: 0;
    
    
}
nav :hover{
    color: snow;
}
a.visited{
    color: fuchsia;
}

body{
    size: 100%;
    background-image: url("/Final-Project/images/cafe1.jpeg");
    background-repeat: no-repeat;
    background-color: lightblue;
    background-size: 100%;
    
}

#aboutme1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 20pt;
}

footer{
    float: right;
    background-image: linear-gradient(to bottom right,#ffffff, #7f7be7);
    font-family: 'Kiwi Maru', serif;
    opacity: 85%;
    height: 150px;
    width: 100%;
    border: black;
    border-top: 2px;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
}

aside{
    background-image: linear-gradient(to bottom right,#ffffff, #7f7be7);
    float: right;
    height: 470px;
    width: 250px;
    border: black;
    border-style: solid;
    border-radius: 25px;
    padding-right: 500px;
    margin-left: 200px;
    margin-top: 30px;
}

div.gallery{
    float: right;
    height: 300px;
    width: 400px;
    background-color: red;
    margin-left: 1000px;
}

article{
    background-image: linear-gradient(to bottom right,#ffffff, #7f7be7);
    float: right;
    font-family: 'Shadows Into Light', cursive;
    padding-right: 100px;
    padding-left: 25px;
    margin-right: 100px;
    margin-top: 20px;
    height: 450px;
    width: 600px;
    border: black;
    border-style: solid;
    border-radius: 20px;


}
.column {
    float: left;
    background-image: linear-gradient(to bottom right,#ffffff, #7f7be7);
    font-family: 'Shadows Into Light', cursive;
    font-size: 16pt;
    width: 32%;
    padding: 10px;
    height: 700px;
    border: black;
    border-style: solid;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
  
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  #grouplogo{
      float: right;
      padding-top: 70px;
      padding-right: 75px;

  }

  #denise{
      height: 450px;
      width: 300px;
      padding-left: 25px;
      margin-right: 40px;

  }
  
  #sebby{
    height: 450px;
    width: 300px;
  }

  #me{
    height: 400px;
    width: 300px;
    padding-left: 25px;
    margin-right: 40px;
    float: right;
    flex-wrap: wrap;
    padding-bottom: 30px;
    margin-top: 25px;
    margin-bottom: 50px;
  }