@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

header {
    text-align: center;
    font-size: 60pt;
    font-family: 'Kiwi Maru', serif;
    color: #101889;
    background-color: rgb(194, 194, 194);
    height: 100px;
    opacity: 85%;
    border: black;
    border-width: 5px;
    border-style: solid;
}
    
body{
    size: 100%;
    background-image: url("/Final-Project/images/cafe1.jpeg");
    background-repeat: no-repeat;
    background-color: lightblue;
    background-size: 100%;
    
}

img{
    height: 11px;
    width: 80px;
    float: left;
}
nav {
    float: center;
    background-color: rgb(194, 194, 194);
    font: black;
    font-family: 'Kiwi Maru', serif;
    opacity: 85%;
    text-align: center;
    font-style: oblique;
    font-size: 30pt;
    position: sticky;
    top: 0;
    
    
}
nav :hover{
    color: snow;
}
a.visited{
    color: fuchsia;
}

/* #box2{ 
    background-color: rgb(194, 194, 194);
    opacity: 85%;
    height: 100px;
    width: 100%;
      */

section {
    float: left;
    background-color: rgb(194, 194, 194);
    font-family: 'Kiwi Maru', serif;
    opacity: 85%;
    height: 200px;
    width: 48%; 
    border: black;
    border-style: solid;
    border-width: .5%;
    overflow: visible;
    
    
} 

article{
    float: left;
    background-color: rgb(194, 194, 194);
    font-family: 'Kiwi Maru', serif;
    height: 650px;
    width: 48%;
    opacity: 85%;
    margin-top: 1px;
    margin-bottom: 1px;
    text-overflow: clip;
    border: black;
    border-style: solid;
    border-width: .5%; 
}
aside{
    float: right;
    background-color: rgb(194, 194, 194);
    font-family: 'Kiwi Maru', serif;
    font-size: 20pt;
    height: 850px;
    width: 51.06%;
    opacity: 85%;
    border: black;
    border-style: solid;
    border-width: .4%;
    
}

#title1{
    font-size: 17pt;
}

footer{
    float: right;
    background-color: rgb(194, 194, 194);
    font-family: 'Kiwi Maru', serif;
    height: 100px;
    width: 100%;
    border: black;
    border-top: 2px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

#box1{
    background-color: rgb(194, 194, 194);
    height: 100px;
    width: 100px;
}

iframe{
    border: black;
    border-width: 4px 4px;
}

.music{

    background-color: #7f7be7;
    opacity: 70%;
    height: 400px;
    width: 600px;
    padding: 10px 10px;
}

#cover{
    height: 200px;
    width: 200px;
    padding: 20px;
    overflow: visible;
}

#cover2{
    height: 200px;
    width: 200px;
    float: right;
    padding: 20px;
    padding-bottom: 25px;
    overflow: visible;
}

#title2{
    text-align: left;
    overflow: visible;
    padding: 20px;
}

#p3{
    padding-top: 1px;
    padding-left: 20px;
}

#p4{
padding-left: 20px;
float:right;
}